.about {

  &__wrapper {
    margin: 0 auto;
    margin-top: 15rem;
    width: 65%;
  }

  &__image-wrap {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .image {
    border-radius: 50%;
  }

  p {
    margin: 2rem;
  }
}

#family__image-container {
  text-align: center;
}

#family__image {
  width: 50%;
}


@include respond(tab-port) {

  .about__wrapper {
    width: 85%;
  }

  #family__image {
    width: 100%;
  }
}